@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/font_3393588_vtg1b72lzf.woff2?t=1652407070778")
      format("woff2"),
    url("//at.alicdn.com/t/font_3393588_vtg1b72lzf.woff?t=1652407070778")
      format("woff"),
    url("//at.alicdn.com/t/font_3393588_vtg1b72lzf.ttf?t=1652407070778")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-list:before {
  content: "";
}
.icon-datacol:before {
  content: "";
}
.icon-comment:before {
  content: "";
}
.icon-fangxingweixuanzhong:before {
  content: "";
}
.icon-fangxingxuanzhongfill:before {
  content: "";
}
.icon-fangxingxuanzhong:before {
  content: "";
}
.icon-guanbi1:before {
  content: "";
}
.icon-jianhao:before {
  content: "";
}
.icon-tishi:before {
  content: "";
}
.icon-wenhaofill:before {
  content: "";
}
.icon-wenhao:before {
  content: "";
}
.icon-biaoxing:before {
  content: "";
}
.icon-18:before {
  content: "";
}
